<div class="container files-container">
  <div class="center">
      <file-drop class="drop=zone" headertext="Drop files here" (onFileDrop)="dropped($event)" >
          <span></span>
      </file-drop>
  </div>

  <table id="upload-table" class="table table-fixed table-bordered table-responsive-lg">
      <thead class="thead-light">
        <tr>
          <th *ngFor="let column of columns" scope="col">{{column}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let file of droppedFiles">
          <td>{{file.name}}</td>
          <td>{{file.size}}</td>
          <td class="">
            <a class="btn btn-success" role="button" (click)="uploadFile(file.name)">Upload</a>
          </td>
        </tr>
      </tbody>
    </table>
<table id="file-table" class="table table-fixed table-bordered table-responsive-lg">
  <thead class="thead-light">
    <tr>
      <th *ngFor="let column of columns" scope="col">{{column}}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let file of listedFiles">
      <td>{{file.name}}</td>
      <td>{{file.size}}</td>
      <td class="">
        <a class="btn btn-success" role="button" (click)="downloadFile(file.name)">Download</a>
      </td>
    </tr>
  </tbody>
</table>
</div>